GHOS_CLUSTER=devnet
GHOS_RPC_URL=https://api.devnet.solana.com
GHOS_RPC_WSS=wss://api.devnet.solana.com
GHOS_PROGRAM_ID=EnKo8EbfJkani8UePTmAVPzdCZM8vMEYYkjTar4fwBPg
GHOS_KEYPAIR_PATH=~/.config/solana/id.json
GHOS_LOG_LEVEL=info
GHOS_AUDITOR_PUBKEY=
GHOS_PROOF_GENERATION_BACKEND=wasm
